__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv

*.egg-info/
*.egg
*.dist-info/

*.log

/data/**
!/data/
!/data/metadata/
!/data/metadata/*.csv
checkpoints/
.vscode/
/models/**
!/models/
!/models/*.dvc
!/models/.gitignore
reports/*
!reports/
!reports/modeling/
!reports/modeling/*.csv

models/hidro_global/*.keras
models/hidro_global/*.pkl

models/risk/*.keras
models/risk/*.pkl

mlruns/
mlflow.db

models/onnx/