__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/
*.egg
*.dist-info/
*.log
/data/
checkpoints/
.vscode/
reports/
!reports/data_testing/
!reports/data_testing/*.html
models/hidro/*.keras
models/hidro/*.pkl
